theme = Chalk
#theme = BlulocoDark

font-size = 14
cursor-style = block

#shell-integration-features = no-cursor,sudo,no-title
macos-option-as-alt = true

mouse-hide-while-typing = true
mouse-scroll-multiplier = 2

window-padding-balance = true
window-save-state = always
macos-titlebar-style = tabs

background-opacity = 0.9

copy-on-select = clipboard

keybind = global:cmd+grave_accent=toggle_quick_terminal

keybind = shift+enter=text:\n
