"*":
  "exception-reporting":
    userId: "94991619-89bf-e614-3802-8a004adc0077"
  welcome:
    showOnStartup: false
  metrics:
    userId: "38bb2a30268fb1e18dea437b04a0750721de38f8"
  editor:
    fontFamily: "Consolas"
    showInvisibles: true
    showIndentGuide: true
    preferredLineLength: 120
    invisibles: {}
    softWrap: true
    fontSize: 15
  core:
    disabledPackages: [
      "welcome"
    ]
    audioBeep: false
  "go-plus":
    goPath: "$HOME/gocode"
    formatTool: "gofmt"
  "autocomplete-plus":
    confirmCompletion: "tab and enter"
    defaultProvider: "Symbol"
  "tree-view":
    hideIgnoredNames: true
  linter: {}
  "linter-jscs":
    onlyConfig: true
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
".gohtml.html.text":
  editor:
    preferredLineLength: 120
".cs.source":
  editor:
    tabLength: 4
".source.yaml":
  editor:
    tabLength: 4
".gotemplate.source":
  editor:
    preferredLineLength: 120
    scrollPastEnd: true
".go.source":
  editor:
    softWrapAtPreferredLineLength: false
    autoIndent: true
    showInvisibles: false
    tabLength: 2
    preferredLineLength: 120
    scrollPastEnd: true
".ini.source":
  editor:
    preferredLineLength: 120
    showInvisibles: false
