"*":
  "exception-reporting":
    userId: "94991619-89bf-e614-3802-8a004adc0077"
  welcome:
    showOnStartup: false
  metrics:
    userId: "38bb2a30268fb1e18dea437b04a0750721de38f8"
  editor:
    fontFamily: "Consolas"
    showInvisibles: true
    showIndentGuide: true
    preferredLineLength: 120
    softWrap: true
    invisibles:
      {}
    fontSize: 15
  core:
    disabledPackages: [
      "welcome"
    ]
    themes: [
      "atom-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  jumpy:
    highContrast: true
  "vim-mode":
    startInInsertMode: true
  "atom-beautify":
    _analyticsUserId: "e62f5c3f-4807-4f59-8c3f-b34202eeac49"
  "go-plus":
    goPath: "$HOME/gocode"
    formatTool: "gofmt"
  "autocomplete-plus":
    confirmCompletion: "tab and enter"
    defaultProvider: "Symbol"
  "tree-view":
    {}
".gohtml.html.text":
  editor:
    preferredLineLength: 120
".ini.source":
  editor:
    preferredLineLength: 120
    showInvisibles: false
".go.source":
  editor:
    softWrapAtPreferredLineLength: false
    autoIndent: true
    showInvisibles: false
    tabLength: 2
    preferredLineLength: 120
    scrollPastEnd: true
".gotemplate.source":
  editor:
    preferredLineLength: 120
    scrollPastEnd: true
".source.yaml":
  editor:
    tabLength: 4
